<p><strong>Chair:</strong><br>
Hiram Aldarondo<br>
427 Anderson Hall<br>
<a href="tel:2152040134">(215) 204-0134</a><br>
<a href="mailto:haldaron@temple.edu">haldaron@temple.edu</a></p>
<hr>
<p><strong>Undergraduate Chair:</strong><br>
Ronald W. Webb<br>
817 Anderson Hall<br>
<a href="tel:2152047527">(215) 204-7527</a><br>
<a href="mailto:rwebb@temple.edu">rwebb@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Michelle Pugliese<br>
429 Anderson Hall<br>
<a href="tel:2152045628">(215) 204-5628</a><br>
<a href="mailto:pugliese@temple.edu">pugliese@temple.edu</a></p>
