<div>
  <h2>Affiliated Faculty</h2>
    <p>The following faculty from other departments and colleges have courtesy appointments in the Department of Soanish and Portuguese in recognition of their enduring collaborations and linkages with our faculty and students.</a></p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">

      <ul>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://tyler.temple.edu/faculty/mariola-alvarez-phd" title="Mariola Alvarez">Mariola Alvarez</a><p><strong>Tyler School of Art, Art History</strong></p></li>
        li><a href="mailto:ariel.arnau@temple.edu" title="Ariel Arnau">Ariel Arnau</a><p><strong</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/ashvo-mu-oz-alira" title="Alira Ashvo- Munoz">Alira Ashvo- Munoz</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/corrales-martin-norma" title="Norma Corrales-Martin">Norma Corrales-Martin</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <<li><a href="mailto:Angel.diaz-davalos@temple.edu" title="Angel M. Diaz-Davalos">Angel M. Diaz-Davalos</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="mailto:Rosario.espinal@temple.edu" title="Rosario Espinal">Rosario Espinal</a><p><strong>College of Liberal Arts, Department of Sociology</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/evanson-philip" title="Philip Evanson">Philip Evanson</a><p><strong>College of Liberal Arts, Department of History</strong></p></li>
        <li><a href="https://www.fox.temple.edu/mcm_people/kevin-fandl/" title="Kevin J. Fandl">Kevin J. Fandl</a><p><strong>Fox School of Business, Legal Studies, Strategic Global Management</strong></p></li>
        <li><a href="mailto:luis.gonzalez.del.valle@temple.edu" title="Luis T. González del Valle">Luis T. González del Valle</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/franco-sergio-r" title="Sergio R. Franco">Sergio R. Franco</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-conroy-allison" title="Allison Hayes-Conroy">Allison Hayes-Conroy</a><p><strong>College of Liberal Arts, Department of Geography and Urban Studies</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/hesson-michael" title="Michael Hesson">Michael Hesson</a><p><strong>College of Liberal Arts, Department of Anthropology</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/hey-col-n-rebeca-l" title="Rebeca Hey-Colón">Rebeca Hey-Colón</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="mailto:jonathan.holmquist@temple.edu" title="Jonathan C. Holmquist">Jonathan C. Holmquist</a><p><strong>College of Liberal Arts, Global Studies Program</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/gutierrez-velez-victor-hugo" title="Victor Hugo Gutierrez-Velez">Victor Hugo Gutierrez-Velez</a><p><strong>College of Liberal Arts, Department of Geography and Urban Studies</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/kahn-hana-muzika" title="Hana Kahn">Hana Kahn</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="mailto:david.lee0001@temple.edu" title="David Lee Johnson">David Lee Johnson</a><p><strong></strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/levi-heather" title="Heather Levi">Heather Levi</a><p><strong>College of Liberal Arts, Department of Anthropology</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/lorenzino-gerardo-augusto" title="Augusto Lorenzino">Augusto Lorenzino</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/mcpherson-alan" title="Alan McPherson">Alan McPherson</a><p><strong>College of Liberal Arts, Department of History</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/moore-martinez-patricia" title="Patricia Moore-Martinez">Patricia Moore-Martinez</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="mailto:Hortensia.morell@temple.edu" title="Hortensia R. Morell">Hortensia R. Morell</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://klein.temple.edu/faculty/nancy-morris" title="Nancy Morris">Nancy Morris</a><p><strong>Klein College, Globalization and Development Communication, Media &amp; Communication, Media Studies and Production</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/morton-thomas" title="Thomas Morton">Thomas Morton</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://klein.temple.edu/faculty/patrick-murphy" title="Patrick Murphy">Patrick Murphy</a><p><strong>Klein College, Dean’s Office</strong></p></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6">
   
        <ul>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/masucci-michele" title="Michele Masucci">Michele Masucci</a><p><strong>Vice President, Research</strong></p></li>
          <li><a href="https://tyler.temple.edu/faculty/pepon-osorio" title="Pepón Osorio">Pepón Osorio</a><p><strong>Tyler School of Art, Community Arts &amp; Art Education</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/pardes-marcela" title="Marcela Pardes">Marcela Pardes</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/pearsall-hamil" title="Hamil Pearsall">Hamil Pearsall</a><p><strong>College of Liberal Arts, Department of Geography and Urban Studies</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/pereiro-otero-jos-manuel" title="Jose Manuel Pereiro-Otero">Jose Manuel Pereiro-Otero</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/neptune-harvey-r" title="Harvey R. Neptune">Harvey R. Neptune</a><p><strong>College of Liberal Arts, Department of History</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/piera-montserrat" title="Montserrat Piera">Montserrat Piera</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/pongan-joshua" title="Joshua Pongan">Joshua Pongan</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
          <li><a href="mailto:Tuh34211@temple.edu" title="Renata Pontes de Queiroz">Renata Pontes de Queiroz</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
          <li><a href="https://www.law.temple.edu/contact/rafael-porrata-doria-jr/" title="Rafael Porrata-Doria">Rafael Porrata-Doria</a><p><strong>Beasley School of Law, Dean’s Office</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/pueyo-zoco-v-ctor" title="Victor Pueyo Zoco">Victor Pueyo Zoco</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/rey-terry" title="Terry Rey">Terry Rey</a><p><strong>College of Liberal Arts, Department of Religion</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/ricketts-m-nica" title="Monica Ricketts">Monica Ricketts</a><p><strong>College of Liberal Arts, Department of History</strong></p></li>
          <li><a href="https://klein.temple.edu/faculty/clemencia-rodriguez" title="Clemencia Rodríguez">Clemencia Rodríguez</a><p><strong>Klein College, Media Studies and Production, Media &amp; Communication</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/rosan-christina" title="Christina Rosan">Christina Rosan</a><p><strong>College of Liberal Arts, Department of Geography and Urban Studies</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/schmidt-arthur-0" title="Arthur Schmidt">Arthur Schmidt</a><p><strong>College of Liberal Arts, Department of History</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/soifer-hillel" title="Hillel Soifer">Hillel Soifer</a><p><strong>College of Liberal Arts, Department of Political Science</strong></p></li>
          <li><a href="https://www.temple.edu/boyer/about/people/meriansoto.asp" title="Merián Soto">Merián Soto</a><p><strong>Boyer College of Music & Dance, Dance</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/sweet-elizabeth-l" title="Elizabeth Sweet">Elizabeth Sweet</a><p><strong>College of Liberal Arts, Department of Geography and Urban Studies</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/su-rez-sandra-l" title="Sandra Suarez">Sandra Suarez</a><p><strong>College of Liberal Arts, Department of Political Science</strong></p></li>
          <li><a href="mailto:tuc70498@temple.edu" title="Adán Stevens">Adán Stevens</a><p><strong></strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/toth-paul-d" title="Paul Toth">Paul Toth</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/vila-pablo" title="Pablo Vila">Pablo Vila</a><p><strong>College of Liberal Arts, Department of Sociology</strong></p></li>
          <li><a href="mailto:Ronald.webb@temple.edu" title="Ronald Webb">Ronald Webb</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/zalbidea-janire" title="Janire Zalbidea">Janire Zalbidea</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
          <li><a href="mailto:Azellers@temple.edu" title="Autumn Zellers">Autumn Zellers</a><p><strong>College of Liberal Arts, Department of Anthropology</strong></p></li>
        </ul>
      </div>
    </div>
  </div>
