<div>
  <h2>Affiliated Faculty</h2>
    <p>The following faculty from other departments and colleges have courtesy appointments in the Department of Soanish and Portuguese in recognition of their enduring collaborations and linkages with our faculty and students.</a></p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">

      <ul>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://tyler.temple.edu/faculty/mariola-alvarez-phd" title="Mariola Alvarez">Mariola Alvarez</a><p><strong>Tyler School of Art, Art History</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <<li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram" title="Hiram Aldarondo">Hiram Aldarondo</a><p><strong>College of Liberal Arts, Department of Spanish and Portuguese</strong></p></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6">
   
        <ul>
          <li><a href="mailto:tug80633@temple.edu" title="Luqman El-Amin">Luqman El-Amin</a><p><strong>Religion &amp; Sports</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/hannah-klein" title="Hannah Klein">Hannah Klein</a></li>
          <li><a href="https://liberalarts.temple.edu/josh-koehnlein" title="Josh Koehnlein">Josh Koehnlein</a></li>
          <li><a href="https://liberalarts.temple.edu/megan-forney" title="Megan Forney">Megan Forney</a></li>
          <li><a href="https://liberalarts.temple.edu/alyssa-mendlein" title="Alyssa Mendlein">Alyssa Mendlein</a></li>
          <li><a href="https://liberalarts.temple.edu/veronica-nelson" title="Veronica Nelson">Veronica Nelson</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/nguyen-thuy-trinh" title="Thuy-Trinh Nguyen">Thuy-Trinh Nguyen</a></li>
          <li><a href="https://liberalarts.temple.edu/perron-lauren" title="Lauren Perron">Lauren Perron</a></li>
          <li><a href="https://liberalarts.temple.edu/michele-pich" title="Michele Pich">Michele Pich</a></li>
          <li><a href="https://liberalarts.temple.edu/phillips-samantha" title="Samantha Phillips">Samantha Phillips</a></li>
          <li><a href="https://liberalarts.temple.edu/danielle-stanford" title="Danielle Stanford">Danielle Stanford</a></li>
          <li><a href="https://liberalarts.temple.edu/dijon-e-talley" title="Dijonee Talley">Dijonee Talley</a></li>
          <li><a href="https://liberalarts.temple.edu/kelly-waltman-spreha" title="Kelly Waltman Spreha">Kelly Waltman Spreha</a></li>
          <li><a href="https://liberalarts.temple.edu/wight-hayley" title="Hayley Wight">Hayley Wight</a></li>
          <li><a href="https://liberalarts.temple.edu/katorah-williams" title="Katorah Williams">Katorah Williams</a></li>
        </ul>
      </div>
    </div>
  </div>
















<h2>Affiliated Faculty</h2>
  
<p>  </p>
  
  <ul>
 <li><a href="https://cph.temple.edu/commsci/faculty/nadine-martin">Nadine Martin (CPH)</a></li>
 <li><a href="https://cph.temple.edu/commsci/faculty/jamie-reilly">Jamie Reilly (CPH)</a></li>
 <li><a href="https://www.fox.temple.edu/mcm_people/vinod-venkatraman/">Vinod Venkatraman (Fox)</a></li>
 <li><a href="https://sites.temple.edu/stemlearning/">Julie Booth (Education)</a></li>
 <li><a href="https://medicine.temple.edu/ellen-unterwald">Ellen Unterwald (School of Medicine)</a></li>
  </ul>
